:root {
  background-color: #c4dfdf;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: auto;
  max-height: auto;
}

main {
  display: flex;
  flex: 1;
}

aside {
  padding: 3em 3em 0;
  position: fixed;
}

aside ul {
  max-height: 50px;
  max-height: 50px;
  padding: 30px;
  list-style: none;
}

aside p {
  font-size: 20px;
  font-weight: 500;
}

aside ul li {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  font-weight: 100;
  font-size: 19px;
}

aside ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px 0;
  font-size: 19px;
  font-weight: 300;
}

article {
  margin-left: 250px;
  background-color: #e3f4f4;
  padding: 3em 3em 0;
  border-radius: 10px;
}

.navLogo {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

nav {
  background-color: #e3f4f4;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 3rem;
}

nav p {
  font-size: 20px;
  font-weight: 500;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  font-weight: 100;
  font-size: 19px;
}

nav ul li a:hover {
  border-bottom: 3px solid;
  font-weight: 500;
}

aside ul li a:hover {
  border-bottom: 3px solid;
  font-weight: 500;
}

.logo {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin: auto;
}

.author {
  color: #a7a7a7;
}

table {
  border: 1px solid;
}

table th {
  padding-left: 100px;
  padding-right: 90px;
  border: 1px solid;
}

footer {
  background-color: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

footer h3 {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

footer p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

footer li {
  margin: 0 10px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer i {
  font-size: 1.1rem;
}

footer a:hover {
  color: #c4dfdf;
}
